.masonryGrid {
    display: flex;
    margin-left: calc(-1 * var(--static-space-16));
    width: 100%;
}

.masonryGridColumn {
    padding-left: var(--static-space-16);
    background-clip: padding-box;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.gridItem {
    margin-bottom: var(--static-space-16);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    opacity: 0;
    animation: enter 1s cubic-bezier(0.34, 1.3, 0.64, 1) forwards;

    &:hover {
        transform: scale(1.02);
    }
}

.image {
    width: 100%;
}